<div class="box">
    <div class="infos">
        <div class="header">
          <!-- <a  routerLink="/"><img mat-card-image src="/assets/images/logo.png" height="100px" width="100px" alt="Logo ADPME"/></a>              -->
          <a  routerLink="/" class=""><img src="/assets/logo_simple_noir.png"  alt="Logo tiakk-tiakk" class="object-cover" /></a>             
        </div>

        

        <div class="slogan">
            <h1> Votre deplacement: notre priorité.</h1>
        </div>
    </div>
    <div class="login">
        <router-outlet></router-outlet>
    </div>
</div>
  
